<!DOCTYPE html>
<html>
<head>
<title>我的通知-广告主-推广派-app推广平台</title>
{{include 'include/head'}}
</head>
<body>
{{include 'include/header'}}
<div class="warp">
	<div class="warp_inner layout clear">
		{{include 'include/side'}}
		<div class="contain">
			<div class="box_nb top_btn_box"><a href="mynotice.html" target="_blank" class="b_r see_notice_btn">查看已经发布的公告</a></div>
			<div class="box">
				<h3>消息搜索</h3>
				<div class="search_box rel" id="search-condition-keyword">
					<input type="text" class="intxt" maxlength="10">
					<a href="javascript:;" class="b_r search_btn">搜 索</a>
				</div>
				<div class="form_box clear mt13">
					<div class="txtitem txtitem_2" id="search-condition-time">
						<label class="r_lb">筛选时间</label>
						<input type="text" class="intxt" onkeydown="return false;" onkeyup="return false;" onkeypress="return false;" disabled="disabled"><span class="spl">—</span><input type="text" class="intxt" onkeydown="return false;" onkeyup="return false;" onkeypress="return false;" disabled="disabled">
					</div>
					<div class="selitem">
						<label class="r_lb">类　　型</label>
						<div class="selbtns select_single" id="search-condition-type">
							<a href="javascript:;" class="selbtn" data-val="cpAll">全部</a>
							<a href="javascript:;" class="selbtn" data-val="11">上线通知</a>
							<a href="javascript:;" class="selbtn" data-val="2">下线通知</a>
							<a href="javascript:;" class="selbtn" data-val="12">加包请求</a>
							<a href="javascript:;" class="selbtn" data-val="1">系统通知</a>
						</div>
					</div>
				</div>
			</div>

			<div class="box_nb tb_list">
				<div id="result-list">
					<!-- <table>
						<colgroup><col class="c10"/><col class="c500"/><col class="c120"/><col style="width:50px;"/></colgroup>
						<tr><th class="hd_bg"></th><th class="hd_bg">内容</th><th class="hd_bg">时间</th><th class="hd_bg"></th></tr>
						<tr><td></td><td class="txt">[上线通知] 对方的身份都是故事大概多少个梵蒂冈</td><td>2014.01.02</td><td></td></tr>
						<tr><td></td><td class="txt">[上线通知] 对方的身份都是故事大概多少个梵蒂冈</td><td>2014.01.02</td><td></td></tr>
						<tr><td></td><td class="txt">[上线通知] 对方的身份都是故事大概多少个梵蒂冈</td><td>2014.01.02</td><td></td></tr>
						<tr><td></td><td class="txt">[上线通知] 对方的身份都是故事大概多少个梵蒂冈</td><td>2014.01.02</td><td></td></tr>
						<tr><td></td><td class="txt">[上线通知] 对方的身份都是故事大概多少个梵蒂冈</td><td>2014.01.02</td><td></td></tr>
						<tr><td></td><td class="txt">[上线通知] 对方的身份都是故事大概多少个梵蒂冈</td><td>2014.01.02</td><td></td></tr>
					</table> -->
				</div>
				<div class="page" id="result-page" style="display:none;"></div>
			</div>
		</div>
	</div>
</div>
<script id="tpl-result" type="text/html">
<table>
	<colgroup><col class="c10"/><col class="c500"/><col class="c120"/><col style="width:50px;"/></colgroup>
	<tr><th class="hd_bg"></th><th class="hd_bg">内容</th><th class="hd_bg">时间</th><th class="hd_bg"></th></tr>
	{% each resultList %}
	<tr><td></td><td class="txt{% $value.isRead==0 ? ' fb' : '' %}">[{% $value.msgType | convertMsgType %}] {% $value.msgContent %}</td><td>{% $value.formatCreateDate %}</td><td></td></tr>
	{% /each %}
</table>
</script>
{{include 'include/footer'}}
<script type="text/javascript" src="/js/ex/datepicker.js"></script>
<script type="text/javascript" src="/js/pp/cp/message.js"></script>
</body>
</html>