<!DOCTYPE html>
<html>
<head>
<title>资质信息-广告主-推广派-app推广平台</title>
{{include 'include/head'}}
</head>
<body>
{{include 'include/header'}}
<div class="warp">
	<div class="warp_inner layout clear">
		{{include 'include/side'}}
		<div class="contain">
			<div class="box_nb release_form">
				<h3>请提交资质资料通过资质审核，审核通过后方可进行任务发布和推广合作。</h3>
				<div class="form_box clear">
					<div class="selitem">
						<label class="r_lb"><span class="red">*</span>广告主类型：</label>
						<div class="selbtns select_single" id="qua-cp-type">
							<a href="javascript:;" class="selbtn selbtn_selected" data-val="1">公司</a>
							<a href="javascript:;" class="selbtn" data-val="2">个人</a>
							<span class="err"></span>
						</div>
					</div>
					<div id="type-company-form">
						<div class="txtitem" id="qua-c-company">
							<label class="r_lb"><span class="red">*</span>公司名字：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-c-address">
							<label class="r_lb"><span class="red">*</span>公司地址：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-c-contact">
							<label class="r_lb"><span class="red">*</span>对接人：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-c-mobile">
							<label class="r_lb"><span class="red">*</span>手机号码：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-c-website">
							<label class="r_lb"><span class="red">*</span>公司网址：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-c-tel">
							<label class="r_lb"><span class="red">*</span>固定电话：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="uploaditem clear">
							<label class="r_lb"><span class="red">*</span>营业执照扫描件：</label>
							<div class="uploadbox">
								<div class="uploadbtn" id="upload-button-yyzz"><span id="upload-button-placeholder-yyzz"></span></div>
								<div class="uploadprocess" id="upload-process-box-yyzz"></div>
								<span class="err" id="qua-c-yyzz-err"></span>
								<input id="qua-c-yyzz-input" type="text" style="display:none;" />
								<div class="fileimg" id="qua-c-yyzz-img"></div>
								<p class="tips">支持.jpg .jpeg .bmp .gif .png格式图片，大小不超过3M。</p>
							</div>
						</div>
						<div class="uploaditem clear">
							<label class="r_lb"><span class="red">*</span>组织机构代码证：</label>
							<div class="uploadbox">
								<div class="uploadbtn" id="upload-button-zzjg"><span id="upload-button-placeholder-zzjg"></span></div>
								<div class="uploadprocess" id="upload-process-box-zzjg"></div>
								<span class="err" id="qua-c-zzjg-err"></span>
								<input id="qua-c-zzjg-input" type="text" style="display:none;" />
								<div class="fileimg" id="qua-c-zzjg-img"></div>
								<p class="tips">支持.jpg .jpeg .bmp .gif .png格式图片，大小不超过3M。</p>
							</div>
						</div>
					</div>
					<div id="type-people-form" style="display:none;">
						<div class="txtitem" id="qua-p-name">
							<label class="r_lb"><span class="red">*</span>姓名：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-p-mobile">
							<label class="r_lb"><span class="red">*</span>手机号码：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-p-address">
							<label class="r_lb"><span class="red">*</span>地址：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-p-website">
							<label class="r_lb">网址：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-p-tel">
							<label class="r_lb">固定电话：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="txtitem" id="qua-p-idcard">
							<label class="r_lb"><span class="red">*</span>身份证号码：</label>
							<input type="text" class="intxt">
							<span class="err"></span>
						</div>
						<div class="uploaditem clear">
							<label class="r_lb"><span class="red">*</span>身份证扫描件：</label>
							<div class="uploadbox">
								<div class="uploadbtn" id="upload-button-idcard"><span id="upload-button-placeholder-idcard"></span></div>
								<div class="uploadprocess" id="upload-process-box-idcard"></div>
								<span class="err" id="qua-p-idcard-err"></span>
								<input id="qua-p-idcard-input" type="text" style="display:none;" />
								<div class="fileimg" id="qua-p-idcard-img"></div>
								<p class="tips">支持.jpg .jpeg .bmp .gif .png格式图片，大小不超过3M。</p>
							</div>
						</div>
					</div>
					<div>
						<label class="r_lb"></label>
						<a href="javascript:;" class="b_r submitbtn" id="submit-btn">确 认 提 交</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{include 'include/footer'}}
<script type="text/javascript" src="/js/pp/cp/qualificationreview.js"></script>
</body>
</html>