<!DOCTYPE html>
<html>
<head>
<title>导航</title>
{{include 'include/head'}}
</head>
<body>
<ul class="nav">
	<li><a href="logout" target="_top">【退出】</a></li>
	<li><a href="index.html" class="link blue_bg" target="page_window">管理主页</a></li>
	<li>
		<a href="javascript:;" class="nav_sub_link">任务相关</a>
		<ul class="nav_sub_box">
			<li><a href="task.html" class="link" target="page_window">任务管理</a></li>
			<li><a href="verify.html" class="link" target="page_window">审核管理</a></li>
			<li><a href="settlement.html" class="link" target="page_window">结算中心</a></li>
			<li><a href="apk.html" class="link" target="page_window">APK管理</a></li>
			<li><a href="evaluation.html" class="link" target="page_window">评分评价管理</a></li>
		</ul>
	</li>
	<li>
		<a href="javascript:;" class="nav_sub_link">信息管理</a>
		<ul class="nav_sub_box">
			<li><a href="message.html" class="link" target="page_window">通知系统</a></li>
			<li><a href="article.html" class="link" target="page_window">前台内容</a></li>
		</ul>
	</li>
	<li>
		<a href="javascript:;" class="nav_sub_link">账户相关</a>
		<ul class="nav_sub_box">
			<li><a href="user.html" class="link" target="page_window">账号管理</a></li>
		</ul>
	</li>
</ul>
{{include 'include/footer'}}
<script>
(function(){
	$('.nav_sub_link').click(function(event) {
		var $subBox = $(this).parent().find('.nav_sub_box');
		if($subBox.css('display') == 'none'){
			$subBox.slideDown('fast');
		}else{
			$subBox.slideUp('fast');
		}
	});

	var $allLink = $('.link');
	$('.nav').on('click', '.link', function(){
		$allLink.removeClass('blue_bg');
		$(this).addClass('blue_bg');
	})
})();
</script>
</body>
</html>