<!DOCTYPE html>
<html>
<head>
<title>推广详情-渠道-推广派-app推广平台</title>
{{include 'include/head'}}
</head>
<body>
{{include 'include/header'}}
<div class="warp">
	<div class="warp_inner layout clear">
		{{include 'include/side'}}
		<div class="contain">
			<div class="box">
				<ul class="clear cp_detail_total" id="cp-detail-total"></ul>
			</div>
			<div class="box">
				<div class="form_box cp_detail_form clear">
					<div class="txtitem">
						<label class="r_lb">计费方式：</label>
						<span class="txt" id="cp-billing-type"></span>
					</div>
					<div class="txtitem">
						<label class="r_lb">量级要求：</label>
						<span class="txt" id="cp-quantity"></span>
					</div>
					<div class="txtitem">
						<label class="r_lb">推广要求：</label>
						<span class="txt" id="cp-push-requirement"></span>
					</div>
					<div class="txtitem">
						<label class="r_lb">推广方式：</label>
						<span class="txt" id="cp-push-type"></span>
					</div>
					<div class="txtitem">
						<label class="r_lb">数据周期：</label>
						<span class="txt" id="cp-data-cycle"></span>
					</div>
				</div>
			</div>
			<div class="box_nb tb_list mt25" id="data-list">
				<h3>推广详情</h3>
				<table>
					<colgroup><col class="c100"/><col class="c60"/><col class="c60"/><col style="width:300px" /></colgroup>
					<tr><th class="hd_bg">日期</th><th class="hd_bg">有效数据</th><th class="hd_bg">金额(元)</th><th class="hd_bg"></th></tr>
					<tr><td>2014.02.03</td><td>300</td><td>100</td><td></td></tr>
					<tr><td>2014.02.03</td><td>300</td><td>100</td><td></td></tr>
					<tr><td>2014.02.03</td><td>300</td><td>100</td><td></td></tr>
					<tr><td>2014.02.03</td><td>300</td><td>100</td><td></td></tr>
					<tr><td>2014.02.03</td><td>300</td><td>100</td><td></td></tr>
					<tr><td>2014.02.03</td><td>300</td><td>100</td><td></td></tr>
				</table>
				<div class="page" id="data-page" style="display:none;"></div>
			</div>
		</div>
	</div>
</div>
{{include 'include/footer'}}
<script type="text/javascript" src="/js/pp/sp/taskdetail.js"></script>
</body>
</html>